html {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
}

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: silver;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav a:hover {
    color: whitesmoke;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.5rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: black;
  border: 0;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover {
    background: whitesmoke;
    color: black;
}

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  /*margin-bottom: 10px;*/
  background-color: white;
}

aside li {
  padding-bottom: 10px;
}

aside a {
  /*font-weight: bold;*/
  text-decoration: none;
  color: black;
}

aside a:hover {
    color: silver;
}

footer {
  margin-top: 10px;
  background-color: silver;
}
